.f-editor
  padding: 1rem
  margin: 0px
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  border: 1px solid grey

.f-editor.show-tags
  b::before
    content: '[b]'
  b::after
    content: '[/b]'
  i::before
    content: '[i]'
  i::after
    content: '[/i]'
  s::before
    content: '[s]'
  s::after
    content: '[/s]'
  u::before
    content: '[u]'
  u::after
    content: '[/u]'
